@import "../../../styles/variables.scss";

.list {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
  align-items: center;

  .list-icon {
    width: 14px;
    opacity: 0.8;
  }

  .list-title {
    font-size: 14px;
    font-weight: 500;
    color: $blue;
    cursor: pointer;
  }
}
